
.z-overlay {
  z-index: 5000;
}

.loading-screen-open {
  overflow-x: clip;
  overflow-y: clip;
  overflow: clip;
}

.viewport {
  height: 84.5vh;
  overflow: auto;
  overflow-y: auto;
  overflow-x: auto;
  padding-top: 1.2rem;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
}
