
.z-overlay {
  z-index: 5000;
}

.loading-screen-open {
  overflow-x: clip;
  overflow-y: clip;
  overflow: clip;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  max-height: 9vh;
}

.header-menu {
  position: fixed;
  top: 9.5vh;
  right: 18px;
  z-index: 10;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: stretch;
  min-width: 240px;
  max-width: 240px;
  border-radius: 13px 13px 13px 13px;
  padding: 8px 8px 8px 8px;
}

.viewport {
  position: fixed;
  top: 11.5vh;
  height: 80vh;
  overflow: auto;
  overflow-y: auto;
  overflow-x: auto;
}
