:root {
    --viewport-width: 100vw;
    --viewport-height: 100vh;
    --viewport-width-max: 100vw;
    --viewport-height-max: 100vh;
    --overflow-type: auto;
}

body {
    overflow: var(--overflow-type) !important;
}

.fill-vp {
    width: var(--viewport-width);
    height: var(--viewport-height);
    left: 0pc;
}

.overlay-root {
    position: relative;
}

.overlay-content {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
}

.overlay-fg {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.overlay-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
}


.bg-layer-0 {
    z-index: -999999;
}

.bg-layer-1 {
    z-index: -999998;
}

.bg-layer-2 {
    z-index: -999997;
}

.bg-layer-3 {
    z-index: -999996;
}

.bg-layer-4 {
    z-index: -999995;
}

.bg-layer-5 {
    z-index: -999994;
}

.bg-layer-6 {
    z-index: -999993;
}

.bg-layer-7 {
    z-index: -999992;
}

.bg-layer-8 {
    z-index: -999991;
}

.bg-layer-9 {
    z-index: -99999;
}



.fg-layer-0 {
    z-index: 0;
}

.fg-layer-1 {
    z-index: 1;
}

.fg-layer-2 {
    z-index: 2;
}

.fg-layer-3 {
    z-index: 3;
}

.fg-layer-4 {
    z-index: 4;
}

.fg-layer-5 {
    z-index: 5;
}

.fg-layer-6 {
    z-index: 6;
}

.fg-layer-7 {
    z-index: 7;
}

.fg-layer-8 {
    z-index: 8;
}

.fg-layer-9 {
    z-index: 9;
}



.modal-layer-0 {
    z-index: 999999;
}

.modal-layer-1 {
    z-index: 9999991;
}

.modal-layer-2 {
    z-index: 9999992;
}

.modal-layer-3 {
    z-index: 9999993;
}

.modal-layer-4 {
    z-index: 9999994;
}

.modal-layer-5 {
    z-index: 9999995;
}

.modal-layer-6 {
    z-index: 9999996;
}

.modal-layer-7 {
    z-index: 9999997;
}

.modal-layer-8 {
    z-index: 9999998;
}

.modal-layer-9 {
    z-index: 9999999;
}

.pax0y0 {
    position: absolute;
    top: 0px;
    left: 0px;
}